.admin-container {
  display: flex;
  width: calc(100% - 5rem);
  padding: 0;
  min-height: calc(100vh - 4rem);
  margin-top: 4rem;
  margin-left: 5rem;
  justify-content: center;
}
.dashboard-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-evenly;
  align-items: center;
  min-height: calc(100%);
}
.totals {
  display: flex;
  justify-content: space-between;
  width: 900px;
  height: 150px;
}

.total-card {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: rgba(232, 232, 233, 0.281);
  border-radius: 5px;
  border: 2px solid rgb(145, 145, 145);
  padding: 1.3rem;
  box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.45);
  width: 250px;
  height: 130px;
}

.card-text {
  margin-top: -35px !important;
  margin-bottom: 10px !important;

  align-self: flex-end;
  justify-self: flex-start;
}

.itemL-dash {
  font-size: 30px;
  width: 30px;
}

.lastest-orders-card {
  display: flex;
  padding: 1.3rem;
}

td {
  font-size: x-large;
  margin: 30px;
  width: 200px;
}

.t-title {
  margin: 20px 5px;
}

.adminNav {
  width: 100%;
}
