.admin-container{
    display: flex;
    width: 100%;
    margin-top: 0 !important;
    padding: 0;
    height: 1000px;
}

.totals{
    display: flex;
   left: 400px;
   top:200px;
    position: absolute;
    align-self:center;
    justify-content: space-between;
    width: 900px;
    height: 150px;
}



.total-card{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: rgba(232, 232, 233, 0.281);
    border-radius: 5px ;
    border: 2px solid rgb(255, 255, 255);
    padding: 1.3rem;
    box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.45);
    width: 250px;
    height: 130px;
    
}

.card-text{
    margin-top: -35px !important;
    margin-bottom: 10px !important;
  
   align-self:flex-end;
   justify-self: flex-start;
   
  
}

.itemL-dash{
    font-size: 30px;
    height: min-content;
    width: max-content;
    background-color: rgb(217, 220, 220);
    border-radius: 25px;
    padding: 0 8px;
}

.lastest-orders-card{
    position: absolute;
    display: flex;
    align-self: center;
    top: 500px;
    left: 12%;
    right: 100px;
    justify-self: center;
    
    background-color: rgb(250, 250, 250);
    border-radius: 5px ;
    border: 2px solid rgb(255, 255, 255);
    padding: 1.3rem;
    box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.45);

}

td{
    font-size: x-large;
    margin: 30px;
    width: 200px;
}

.t-title{
    margin: 20px 5px;
}

.adminNav{
    width: 100%;
}

.detalle{
    text-decoration: none;
    color: black;
    background-color: rgb(231, 231, 231);
    border-radius: 15px;
}

.detalle:hover{
    text-decoration: none;
    color: black;
    background-color: rgb(195, 193, 193);
    border-radius: 15px;
}