.orders-card {
  width: 100%;
  display: flex;
  background-color: rgb(250, 250, 250);
  border-radius: 5px;
  padding: 1.3rem;
}

.title-and-search {
  display: flex;
  justify-content: space-between;
}
.admin-search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-control-admin {
  width: 400px;
  height: 39px;
  border: 2px solid rgb(208, 205, 205);
  border-radius: 0.1rem;
}
.search-admin {
  font-size: 20px;
}

.submit-admin {
  width: 33px;
  height: 39px;
  background-color: transparent;
  border: 2px solid rgb(208, 205, 205);
  border-radius: 0.1rem;
}
