/* .boton-a{
    width: 60px;
    height: 40px;
    background-color: rgb(208, 212, 212);
    border: 2px solid rgb(189, 189, 189);
    padding: 5px !important;
    margin-left: 20px;
    margin-top: 50px;
    
} */
.container-admin {
  display: flex;
  position: fixed;
  border-right: 0.2rem solid #efefef;
  align-content: center;
  justify-content: center;
  text-align: left;
  background: #fff;
  left: 0;
  top: 0;
  width: 5rem;
  height: 100vh;
  box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.251);
  z-index: 100;
}
.dollar,
.account,
.bag,
.data {
  color: rgb(0, 0, 0);
}

.nLink {
  color: aliceblue !important;
  background-color: #0b5dd782;
  border-color: #0a57ca86;
  border-radius: 5px;
}
.icons-container-admin {
  display: flex;
  margin-top: 0;
  align-items: center;
  justify-content: space-evenly;
  width: 110px;
}

.itemL-admin {
  display: flex;
  font-size: 2rem;
  cursor: pointer;
}
.fade .show{
  background: #000;
}
