.filtrosContainer {
  display: flex;
  justify-content: center;
  background-color: transparent;
  align-items: center;
  flex-wrap: wrap;
  color: #000;
  .titulo {
    text-transform: uppercase;
    color: black;
  }
  .filtroCard {
    flex: 1 0 2rem;
    max-height: 2rem;
    text-transform: uppercase;
    overflow: hidden;
    color: #fff;
    background: #000;
    display: flex;
    padding: 0 0.5rem;
    align-items: baseline;
    button {
      border: none;
      background-color: transparent;
      height: 100%;
      color: #f9f9f9;
      font-weight: 500;
      font-size: small;
    }
    h3 {
      font-size: small;
    }
  }
}
