.left-side-container {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gelion", sans-serif;
  width: 25%;
  margin-top: 8rem;
  background: #fff;
  color: white;
  display: flex;
  padding: 1rem 2rem;
  gap: 1rem;
  align-items: flex-start;
  flex-direction: column;
  color: black;
  position: relative;
  & > div {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 0.2rem;
    height: calc(100% + 8rem);
    margin-top: -8rem;
    background: #efefef;
    z-index: 10000;
  }

  .filtrosContainer {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.2rem;
    .filtroCard {
      display: flex;
      align-items: baseline;
      flex: 1 0 6rem;
      max-width: 6rem;
      height: 2rem;
      justify-content: space-between;
      text-transform: uppercase;
      overflow: hidden;
      color: #fff;
      background: #000;
      padding: 0 0.5rem;
      button {
        border: none;
        background-color: transparent;
        height: 100%;
        color: #f9f9f9;
        font-weight: 500;
        font-size: small;
      }
      h3 {
        font-size: small;
      }
    }
  }

  .color-filter {
    .colors {
      padding-left: 0;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 1rem;
      flex-wrap: wrap;
      div {
        cursor: pointer;
        background: var(--c);
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        justify-content: center;
        align-items: center;
        font-size: small;
        outline: 1px solid #999;
        transition: all 0.1s ease-in-out;
        &:hover {
          outline: 0.1rem solid black;
          border: 0.1rem solid white;
        }
      }
    }
  }
  .price-filter {
    .prices-container {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-evenly;
      gap: 0.3rem;
      span {
        display: flex;
        width: 50%;
        align-items: center;
        gap: 0.3rem;
        font-weight: 500;
        input {
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            appearance: none;
          }

          border: 0.1rem solid #000;
          border-radius: 0.2rem;
          width: 80%;
        }
      }
      button {
        border-radius: 50%;
        display: flex;
        width: 1.5rem;
        height: 1.5rem;
        font-size: small;
        justify-content: center;
        align-items: center;
        border: none;
        color: white;
        background: #000;
        &:active {
          transform: scale(0.96);
        }
      }
    }
    .multi-range-slider {
      border: none;
      padding: 0.5rem;
      box-shadow: none;
      & .bar-inner {
        background-color: #000;
      }
      & .bar-left,
      & .bar-right {
        background: #ddd;
        box-shadow: none;
      }
      & .thumb {
        &::before {
          background-color: black;
          width: 1.2rem;
          height: 1.2rem;
          border: none;
          box-shadow: none;
          margin: -6px;
        }
        & * {
          bottom: 1rem;
          width: 35px;
          height: 35px;
          background-color: black;
          border-radius: 0.5rem;
          color: white;
          box-shadow: none;
          display: none;
          clip-path: polygon(0 0, 100% 0%, 100% 75%, 50% 100%, 0 75%);
        }
        &:active * {
          display: none; //ADD Pop up value
        }
      }
      & .label {
        font-weight: 500;
        margin-top: 0.5rem;
        margin-bottom: 0;
      }
      & .label-min,
      & .label-max {
        font-size: 90%;
      }
    }
  }
  .gender-filter {
  }
  .category-filter {
  }
  .brand-filter {
  }
  .size-filter {
    .sizes-container {
      display: flex;
      justify-content: start;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;
    }
  }
}
