.drop{
    background-color: rgba(255, 252, 252, 0.158) !important;
    color: black !important;
    border: none !important;
  
    margin: 0 !important;
   
}
.gohome{
    text-decoration:none;
    color:rgb(0, 0, 0);
    font-family: "Gelion", sans-serif;
    padding: 0;
    gap: 1rem;
  }