.upsidebar-container {
  p {
    margin-bottom: 0;
  }
  width: 100%;
  position: fixed;
  top: 4rem;
  left: 0;
  background: rgb(242, 242, 242);
  height: 4rem;
  z-index: 999;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Gelion", sans-serif;
  font-weight: 700;
  padding: 1rem;
  .view {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: large;
  }
  .quantity {
  }
  .simple-filters {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    p {
      padding: 0 0.5rem;
    }
    select {
      width: 60%;
    }
  }
}
