.muro{
  background-image: url("https://as01.epimg.net/baloncesto/imagenes/2022/02/28/fotorrelato/1646065025_541428_1646065882_album_normal.jpg");
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;

}
.imagen{
  width: 100%;
}

.con{
  border-radius: 30px;
}
.datos{
  background-color: #E5E8E8;
  border-radius: 30px;
}
.perfil{
  width: 12%;
}
.pedido {
  background-color: #f8f8f8;
  border-radius: 30px;
  width: 30%;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media (max-width:1200px){
  .pedido {
    width: 45%;
  }
}

@media (max-width:1000px){
  .pedido {
    width: 45%;
  }
}

@media (max-width:770px){
  .pedido {
    width: 100%;
  }
  .imagen{
    width: 40%;
  }
  .perfil{
    width: 30%;
  }
}