.containerNav{
    background-color: rgb(0, 0, 0);
   
    display: flex;

}

.textNav{
    color:aliceblue

}

.title{

}
.drop{
    background-color: rgba(240, 244, 246, 0.136) !important;
    color: black;
    border: none;
    padding: 4px;
    margin: 3px;
}
.drop:hover{
    color: gray !important;
}
.navBarProp{
    padding: 20px !important;
}